@import url("https://fonts.googleapis.com/css?family=Coiny");

body {
  background-color: #f3f3f3;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}
p {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  line-height: 1.3rem;
}

.card {
  transition: 0.3s;
  border-radius: 7px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.myForm {
  /*background-color: rgba(0,0,0,0.5) !important;*/
  background-color: #88bff2 !important;
  padding: 15px !important;
  border-radius: 15px !important;
  color: white;
}
.myCard {
  /*background-color: rgba(0,0,0,0.5) !important;*/
  background-color: #88bff2 !important;
  padding: 15px !important;
  color: white;
}

.table-sortable tbody tr {
  cursor: move;
}
.text-center {
  color: #fff;
}
.table-bordered {
  border-radius: 5px;
}
.miner {
  overflow-y: scroll;
  height: 400px;
}

.mines {
  overflow-y: scroll;
  height: 350px;
}

hr.divider {
  border: 3px solid #126ec4;
  border-radius: 5px;
}
/* ---------------create users------------- */
.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
/* *******************Create Users ends********************* */

.space-400 {
  margin-top: 50px !important;
  margin-bottom: 100px !important;
}
.space-200 {
  margin-top: 30px !important;
  margin-bottom: 50px !important;
}

.space-100 {
  margin-top: 15px !important;
  margin-bottom: 25px !important;
}
.space-50 {
  margin-top: 5px !important;
  margin-bottom: 15px !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  border-radius: 0;
}
.card .card-description {
  margin-bottom: 0.875rem;
  font-weight: 400;
  color: #76838f;
}

.profile-header {
  height: 150px;
  width: 100%;
  position: relative;
}

.cover-image {
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.active {
  background-color: #88bff2 !important;
  color: white !important;
}

a.animated-button.thar-three {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #88bff2;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
a.animated-button.thar-three:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
a.animated-button.thar-three:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: #88bff2;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

/******************* for upload files *****************/
/* picture upload */
/* create course page */
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
/* picture upload ends */
.files input {
  outline: 2px dashed #9293b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 5px 0px 15px 35%;
  text-align: center !important;
  margin: 0;
  width: 100%;
}

.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}

.color input {
  background-color: #f1f1f1;
}

.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 27px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
/*************************upload files ends*************************/
/* **********************Pie chart******************************* */
/* ---------table--------- */
.pe {
  background-color: #7b97cf;
}
.ce {
  background-color: #fcc777;
}
.oe {
  background-color: #ec856c;
}
.si {
  background-color: #549c59;
}
#donutchart {
  background-color: #88bff2 !important;
}
#chart {
  width: 600px;
  height: 300px;
  font-family: Arial;
  background-color: transparent;
}

#donutchart {
  position: relative;
}
/* **************************pie chart ends******************** */
/*************************Login page****************************/
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  /*  min-height: 100vh;*/
  min-height: 82vh;
}

/*.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}
*/
/*-----------------------Jesus---------------------------------*/
@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.jesus {
  background-color: #141114;
  /*  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);*/
  background-image: url(../images/earth-1756274_1280.jpg);
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: 58px 58px;*/
  background-position: 0px 2px, 17px 6px, 4px 35px, 29px 31px;
}

.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin: 170px 0 0 320px;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #c7810a,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  /*  left: 50%;
  top: 50%;*/
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #fdcb66,
    -0.2rem 0.1rem 1rem #fdcb66, 0.2rem 0.1rem 1rem #fdcb66,
    0 -0.5rem 2rem #e29e2c, 0 0.5rem 3rem #e29e2c;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #fdcb66,
      -0.2rem 0.1rem 1rem #fdcb66, 0.2rem 0.1rem 1rem #fdcb66,
      0 -0.5rem 2rem #e29e2c, 0 0.5rem 3rem #e29e2c;
  }
  28%,
  33% {
    color: #fdcb66;
    text-shadow: none;
  }
  82%,
  97% {
    color: #e29e2c;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #c7810a;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #fdcb66,
      -0.2rem 0.1rem 1rem #fdcb66, 0.2rem 0.1rem 1rem #fdcb66,
      0 -0.5rem 2rem #e29e2c, 0 0.5rem 3rem #e29e2c;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
.register-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: 70%;
  text-align: center;
}
.claim {
  color: #fff;
  font-size: 2.5em;
  padding: 22% 7em 0 2em;
  position: relative;
  margin-left: 10%;
  font-family: "Brush Script MT", cursive;
  font-size: 44px;
  line-height: 26.4px;
}
/***********************BPM**************************/
/* --------------bpm-1--------------------------------- */

article {
  background: linear-gradient(to right, #24243e, #141e30, #0f0c29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-size: 5vmin;
  line-height: 1.1;
}

/* -----------------bpm 1 ends----------------------------- */
/*---------------------bpm2--------------------------------*/

.cloud-text {
  /*font-family: 'Akronim'; */
  font-family: "Coiny", cursive;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../images/earth-1756274_1280.jpg);
  /* background-position: 0%; */
  margin: auto;
  font-size: 44px;
  animation: clouds-moving infinite 120s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: linear;
  line-height: 50.4px;
  text-align: center;
}
@keyframes clouds-moving {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

/*----------------------bpm2 ends--------------------------*/
/********************BPM***********************************/
.button {
  border: none;
  border-radius: 0.1px !important;
  color: white;
  padding-left: 35px !important;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px !important;
  font-weight: 500;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 53px;
  margin: 10px 0;
  padding: 15px;
  background-color: #f1f2f3;
  display: block !important;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.button2 {
  background-color: white !important;
  color: black;
}

.button2:hover {
  background-color: #88bff2 !important;
  color: white;
}
.button .active {
  background-color: #88bff2 !important;
  color: white !important;
}
/*************************Header Navbar*********************/

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #88bff2;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
/*************************Header Navbar Ends*********************/
.collapsible {
  background-color: #20457c;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 2px solid #fff;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
/* 
.active:after {
  content: "\2212";
} */

.content {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
/* ************************Project Accordion*********************** */

#accordionproject .panel {
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin-bottom: 15px !important;
}
#accordionproject .accordion-header {
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
}
#accordionproject .panel-title a {
  display: block !important;
  padding: 20px 30px 20px 50px !important;
  background: #ffffff !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #20457c !important;
  position: relative !important;
  transition: all 0.5s ease 0s !important;
  border: 1px solid #20457c !important;
  border-radius: 5px !important;
  text-decoration: none !important;
}

#accordionproject .panel-title a:hover {
  background: #525ba8 !important;
  color: #fff !important;
}

#accordionproject .panel-title a.collapsed {
  background: #fff !important;
  color: #696969 !important;
  border: 1px solid #20457c !important;
  border-radius: 5px !important;
}
#accordionproject .panel-title a:after,
#accordionproject .panel-title a.collapsed:after {
  content: "\f106" !important;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  color: #fff !important;
  text-align: center !important;
  position: absolute !important;
  top: 25% !important;
  left: -13px !important;
  background: #121f98 !important;
}
#accordionproject .panel-title a.collapsed:after {
  content: "\f107" !important;
  background: #121f98 !important;
}
#accordionproject .panel-title a.collapsed:hover {
  background: #20457c !important;
  color: #fff !important;
}
#accordionproject .panel-body {
  font-size: 14px !important;
  color: #fff !important;
  line-height: 25px !important;
  background: #121f98 !important;
  padding: 15px 15px 15px 50px !important;
  border: none !important;
  transition: all 0.5s ease 0s !important;
}

/* #accordionproject .panel{
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin-bottom: 15px !important;
}
#accordionproject .panel-heading{
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
}
#accordionproject .panel-title a{
  display: block !important;
  padding: 20px 30px 20px 50px !important;
  background: #ffffff !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #20457c !important;
  position: relative !important;
  transition: all 0.5s ease 0s !important;
  border: 1px solid #20457c !important;
  border-radius: 5px !important;
  text-decoration: none !important;
}

#accordionproject .panel-title a:hover{
background: #525ba8 !important;
color: #fff !important;
}

#accordionproject .panel-title a.collapsed{
  background: #fff !important;
  color: #696969 !important;
  border: 1px solid #20457c !important;
  border-radius: 5px !important;
}
#accordionproject .panel-title a:after,
#accordionproject .panel-title a.collapsed:after{
  content: "\f106" !important;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  color: #fff !important;
  text-align: center !important;
  position: absolute !important;
  top: 25% !important;
  left: -13px !important;
  background: #121f98 !important;
}
#accordionproject .panel-title a.collapsed:after{
  content: "\f107" !important;
  background: #121f98 !important;
}
#accordionproject .panel-title a.collapsed:hover{
  background: #20457c !important;
  color: #fff !important;
}
#accordionproject .panel-body{
  font-size: 14px !important;
  color: #fff !important;
  line-height: 25px !important;
  background: #121f98 !important;
  padding: 15px 15px 15px 50px !important;
  border: none !important;
  transition: all 0.5s ease 0s !important;
} */

/* **************************Project accordion ends****************** */
/*-------------------------------------------------------------*/

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
/************************Login page ends*********************/
.btn-toggle {
  padding: 10px;
  font-size: 13px;
  color: #777;
  margin: 5px 0px;
  background-color: #f1f2f3;
  border-radius: 5px;
}
.btn-toggle a.profile-info-list-item {
  margin: 10px 0;
  padding: 15px;
  background-color: #f1f2f3;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.user-image {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  bottom: -50%;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%, -50%);
  z-index: 5;
}

.user-image img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  top: -40px;
  border: 5px solid #777;
}

.profile-card .profile-content {
  padding: 50px 20px 30px 20px;
}

.profile-card .profile-name {
  font-size: 1.2rem;
  color: #3249b9;
  font-weight: 600;
  text-align: center;
}

.profile-card .profile-designation {
  font-size: 13px;
  color: #777;
  text-align: center;
}

.profile-card .profile-description {
  padding: 10px;
  font-size: 13px;
  color: #777;
  margin: 5px 0px;
  background-color: #f1f2f3;
  border-radius: 5px;
}

.profile-card ul.profile-info-list {
  padding: 0;
  margin: 10px 0;
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  color: #777;
}

.profile-card ul.profile-info-list a {
  text-decoration: none;
  color: inherit;
}

.profile-card a.profile-info-list-item {
  margin: 10px 0;
  padding: 15px;
  /* background-color: #F1F2F3; */
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.profile-card a.profile-info-list-item:hover {
  background-color: #88bff2;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.profile-card a.profile-info-list-item i {
  padding: 10px;
}

ul.about {
  list-style: none;
  color: black;
  padding: 0;
}
li.about-items {
  margin: 10px;
  font-size: 0.9rem;
  /* font-family: sans-serif; */
  /* font-weight: 400; */
}

li.about-items i {
  color: #607d8b;
}

span.about-item-name {
  width: 100px;
  display: inline-flex;
  margin-left: 10px;
}

span.about-item-detail {
  display: inline-flex;
  width: calc(100% - 160px);
}
span.about-item-detail > button {
  margin-right: 10px;
}

.btn.btn-icon {
  width: 40px;
  height: 40px;
  padding: 0;
}
.btn.btn-rounded {
  border-radius: 50px;
}

a.about-item-edit {
  float: right;
}

.nav-pills-custom .nav-link {
  color: #aaa !important;
  background: #fff !important;
  position: relative !important;
}

.nav-pills-custom .nav-link.active {
  color: #041b50 !important;
  /* background: rgb(119, 105, 250) !important; */
  background: rgba(14, 14, 138, 0.45) !important;
  border: 4px solid #e91c58 !important;
  border-radius: 5px !important;
}

/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
    content: "";
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid #e91c58;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}
